.tooltip {
  position: absolute;
  z-index: 1000;
  pointer-events: none;

  &[data-dir="tr"] {
    top: -110%;
    left: calc(50% - 0.75rem);
  }
  &[data-dir="tl"] {
    top: -110%;
    right: calc(50% - 0.5rem);
  }
  &[data-dir="tc"] {
    bottom: 120%;
    right: 50%;
    transform: translateX(50%);
  }
  &[data-dir="br"] {
    bottom: -110%;
    left: 50%;
    transform: translateX(-0.75rem);
  }
  &[data-dir="bl"] {
    bottom: -110%;
    right: 50%;
    transform: translateX(0.75rem);
  }
  &[data-dir="bc"] {
    bottom: -110%;
    right: 50%;
    transform: translateX(50%);
  }
}

.tooltip:after {
  position: absolute;
  content: "";
  /* transform: translateX(50%); */
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.tooltip[data-dir="tr"]:after {
  left: 0.5rem;
  top: 100%;
  border-top: 4px solid var(--cCalendarTooltip);
}
.tooltip[data-dir="tl"]:after {
  right: 0.5rem;
  top: 100%;
  border-top: 4px solid var(--cCalendarTooltip);
}
.tooltip[data-dir="tc"]:after {
  right: 50%;
  top: 100%;
  transform: translateX(50%);
  border-top: 4px solid var(--cCalendarTooltip);
}
.tooltip[data-dir="br"]:after {
  bottom: 100%;
  left: 0.5rem;
  border-bottom: 4px solid var(--cCalendarTooltip);
}
.tooltip[data-dir="bl"]:after {
  bottom: 100%;
  right: 0.5rem;
  border-bottom: 4px solid var(--cCalendarTooltip);
}
.tooltip[data-dir="bc"]:after {
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  border-bottom: 4px solid var(--cCalendarTooltip);
}
.size {
  &[data-size="base"] {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
  &[data-size="md"] {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}
