.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows),1fr);
  position: relative;
}

.items {
  display: contents
}

.item {
  position: absolute;
  inset: 0px;
  grid-column-start: var(--column);
  grid-row-start: var(--row);
  pointer-events: none;
}