.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--rows), 1fr);
}

.items {
  display: contents;
}

.item {
  position: absolute;
  inset: 0px;
  grid-column-start: var(--column);
  grid-row-start: var(--row);
  pointer-events: none;
  flex-grow: 0;
  min-width: 0;
}
