.accentColor {
  display: flex;
  height: 23px;
  width: 23px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  color: var(--primary);
  &[data-active="true"] {
    border: 1px solid var(--cFont);
  }
  &[data-color="blue"] {
    background-color: var(--color-blue);
  }
  &[data-color="yellow"] {
    background-color: var(--color-yellow);
  }
  &[data-color="red"] {
    background-color: var(--color-red);
  }
  &[data-color="orange"] {
    background-color: var(--color-orange);
  }
  &[data-color="green"] {
    background-color: var(--color-green);
  }
  &[data-color="purple"] {
    background-color: var(--color-purple);
  }
  &[data-color="pink"] {
    background-color: var(--color-pink);
  }
}
