.container {
  &[data-padding="base"] {
    padding: 4px;
  }
  &[data-padding="base"] {
    padding: 8px;
  }
  &[data-padding="xl"] {
    padding: 16px;
  }
  &[data-rounded="base"] {
    border-radius: 5px;
  }
}
