@import "tailwindcss";

html {
  --dark-blue: #0b0417;
  --azure: #2ebcff;
  --white: #ffffff;
  --light-blue: #0e162e;
  /* --test: 99 102 241 */
}
html {
  font-family:
    Helvetica Nova,
    sans-serif;
}

@theme {
  --animate-dialog: dialog 0.07s ease-in forwards;
  @keyframes dialog {
    0% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(1);
    }
  }
  --scroll-bar-width: 10px;
  --drop-shadow-base: 0 35px 35px rgba(0, 0, 0, 0.56);

  --color-main: var(--main);
  --color-main-dark: var(--main-dark);
  --color-main-light: var(--main-light);
  --color-accent: hsl(var(--accent));
  --color-main-inverse: var(--main-inverse);
  --color-blue: hsl(var(--blue));
  --color-yellow: hsl(var(--yellow));
  --color-red: hsl(var(--red));
  --color-orange: hsl(var(--orange));
  --color-green: hsl(var(--green));
  --color-purple: hsl(var(--purple));
  --color-pink: hsl(var(--pink));
  --color-primary: var(--primary);
  --color-cFont: var(--cFont);
  --color-cOpacitySecondFont: var(--cOpacitySecondFont);
  --color-brand: var(--main);
  --color-cBorder: var(--cBorder);
  --color-cSecondBorder: var(--cSecondBorder);
  --color-cLeftBottomPanel: var(--accent);
  --color-cButtonBg: var(--cButtonBg);
  --color-hover: hsl(var(--accent)/0.1);
  --color-cTaskEdit: var(--cTaskEdit);
  --color-cFocusSecond: var(--cFocusSecond);
  --color-cFocus: hsl(var(--accent)/0.2);
  --color-cTaskEditDefault: var(--cTaskEditDefault);
  --color-cTimeIntervalLow: var(--cTimeIntervalLow);
  --color-cIconDefault: var(--cIconDefault);
  --color-cTimeInterval: var(--cTimeInterval);
  --color-cPomodoroRed: var(--cPomodoroRed);
  --color-cPomodoroGreen: var(--cPomodoroGreen);
  --color-cCalendarFont: var(--cCalendarFont);
  --color-cCalendarTooltip: var(--cCalendarTooltip);
  --color-cTooltipFont: var(--cTooltipFont);
  --color-menuBg: var(--menuBg);
  --color-error: #f72c5b;
}

html[data-theme="space"] {
  --main-dark: #0c031b;
  --main: #0f0620;
  --main-light: #14052b;
  --main-inverse: #907eb3;
  --accent: 194 100% 77%;
  --blue: 194 100% 77%;
  --yellow: 42 96% 54%;
  --red: 4 89% 58%;
  --orange: 30 100% 48%;
  --green: 145 100% 39%;
  --purple: 278 100% 50%;
  --pink: 295 90% 62%;
  --primary: #ffffff;
  --cFont: #fff;
  --cOpacitySecondFont: #76899b;
  --brand: var(--main);
  --cBorder: #393b4681;
  --cSecondBorder: #76899b;
  --cLeftBottomPanel: var(--accent);
  --cButtonBg: #2384b9;
  --hover: rgba(34, 123, 170, 0.3);
  --cTaskEdit: #1c283e;
  --cFocusSecond: rgba(70, 131, 203, 0.5);
  --cTaskEditDefault: #76899b;
  --cTimeIntervalLow: #252538;
  --cIconDefault: #76899b;
  --cTimeInterval: #174468;
  --cPomodoroRed: #ff5f58;
  --cPomodoroGreen: #62c554;
  --cCalendarFont: #fff;
  --cCalendarTooltip: #76899b;
  --cTooltipFont: var(--cFont);
  --menuBg: #120c1e;
}

html[data-theme="default"] {
  --main-dark: #262730;
  --main: #2b2c37;
  --main-inverse: #bebebe;
  --main-light: #363744;
  --accent: 194 100% 77%;
  --blue: 194 100% 77%;
  --yellow: 45 100% 58%;
  --red: 0 100% 66%;
  --orange: 30 100% 48%;
  --green: 145 100% 39%;
  --purple: 256 100% 65%;
  --pink: 291 95% 74%;
  --primary: #fff;
  --cFont: #fff;
  --cOpacitySecondFont: #8d9caa;
  --newFocus: #394a61;
  --brand: #23242b;
  --cBorder: #393b46;
  --cSecondBorder: #76899b;
  --cLeftBottomPanel: var(--accent);
  --cButtonBg: #11879c;
  --hover: rgb(15, 122, 141, 0.5);
  --cButtonText: var(--cFont);
  --cTaskEdit: #23242b;
  --cFocusSecond: #415d81;
  --cTaskEditDefault: #76899b;
  --cTimeIntervalLow: #3d4350;
  --cIconDefault: #76899b;
  --cTimeInterval: #244250;
  --cPomodoroRed: #ff5f58;
  --cPomodoroGreen: #62c554;
  --cCalendarFont: #fff;
  --cCalendarTooltip: #76899b;
  --cTooltipFont: var(--cFont);
  --menuBg: #1d1e24;
}
html[data-theme="dark"] {
  --main: #121212;
  --main-light: #1a1a1a;
  --main-dark: #131111;
  --main-inverse: #bebebe;
  --accent: 199 100 59%;
  --blue: 199 100 59%;
  --yellow: 46 100% 65%;
  --red: 0 69% 67%;
  --orange: 36 100% 65%;
  --green: 123 38% 64%;
  --purple: 256 100% 65%;
  --pink: 291 95% 75%;
  --primary: #fffc;
  --cFont: #fffc;
  --cOpacitySecondFont: #888;
  --brand: var(--main);
  --cBorder: #393b4681;
  --cSecondBorder: #ffffffcc;
  --cLeftBottomPanel: #ffffffcc;
  --cButtonBg: #366193;
  --hover: rgba(49, 88, 133, 0.5);
  --cButtonText: var(--cFont);
  --cTaskEdit: #26262680;
  --cFocusSecond: rgba(70, 131, 203, 0.5);
  --cTaskEditDefault: hsla(0, 0%, 100%, 0.8);
  --cTimeIntervalLow: #394049;
  --cIconDefault: hsla(0, 0%, 100%, 0.8);
  --cTimeInterval: #243952;
  --cPomodoroRed: #ff5f58;
  --cPomodoroGreen: #62c554;
  --cCalendarFont: hsla(0, 0%, 100%, 0.8);
  --cTooltipFont: var(--main);
  --cCalendarTooltip: #d0d0d0;
}
html[data-theme="light"] {
  --main: #f9f9f9;
  --main-dark: #f9f9f9;
  --main-light: #e0e0e0;
  --main-inverse: #707070;
  --accent: 212 56% 54%;
  --blue: 212 56% 54%;
  --yellow: 43 96% 58%;
  --red: 0 100% 66%;
  --orange: 30 100% 48%;
  --green: 122 39% 49%;
  --purple: 262 47% 55%;
  --pink: 340 83% 66%;
  --primary: #596175;
  --cFont: #2b2c37;
  --cOpacitySecondFont: #76899b;
  --brand: #f5f7fb;
  --cBorder: #d3e3f6;
  --cSecondBorder: #76899b;
  --cLeftBottomPanel: var(--accent);
  --cButtonBg: #7ba6d8;
  --hover: rgba(130, 176, 228, 0.5);
  --cButtonText: #f9f9f9;
  --cTaskEdit: #eef2f9;
  --cFocusSecond: #b2bdca;
  --cTaskEditDefault: #76899b;
  --cTimeIntervalLow: #d1d7dc;
  --cIconDefault: #76899b;
  --cTimeInterval: #d3e0ef;
  --cPomodoroRed: #ff5f58;
  --cPomodoroGreen: #62c554;
  --cCalendarFont: #76899b;
  --cCalendarTooltip: #4683cb;
  --cTooltipFont: var(--cTaskEdit);
  --menuBg: #f5f7fb;
}
html[data-theme="grey"] {
  --main: #f4f4f4;
  --main-light: #ebebeb;
  --main-dark: #f9f9f9;
  --main-inverse: #707070;
  --accent: 216 30% 47%;
  --blue: 216 30% 47%;
  --yellow: 43 96% 58%;
  --red: 0 69% 67%;
  --orange: 36 100% 50%;
  --green: 123 38% 57%;
  --purple: 262 47% 55%;
  --pink: 340 100% 75%;
  --primary: #333333cc;
  --cFont: #2b2c37;
  --cOpacitySecondFont: #333333cc;
  --brand: var(--main);
  --cBorder: #d3e3f6;
  --cSecondBorder: #76899b;
  --cLeftBottomPanel: var(--accent);
  --cButtonBg: #849bb6;
  --hover: rgba(138, 163, 192, 0.5);
  --cButtonText: #fff;
  --cTaskEdit: #fff;
  --cFocusSecond: #54759c;
  --cTaskEditDefault: rgba(51, 51, 51, 0.6);
  --cTimeIntervalLow: #d8d8d8;
  --cIconDefault: rgba(51, 51, 51, 0.6);
  --cTimeInterval: #ccd4de;
  --cPomodoroRed: #ff5f58;
  --cPomodoroGreen: #62c554;
  --cCalendarFont: rgba(51, 51, 51, 0.8);
  --cCalendarTooltip: #e1e1e1;
  --cTooltipFont: var(--cTooltipFont);
  --menuBg: #f4f4f4;
}
@layer components {
  .icon {
    @apply box-content inline-block h-[1em] w-[1em] select-none fill-current text-inherit;
  }
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--accent), 0.1);
  border-radius: 15px;
}

.noScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.noScroll::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
