.leftBox {
  height: 8px;
  width: 100%;
  border-radius: 2px;
  &[data-color="space"] {
    background-color: var(--cTaskEdit);
  }
  &[data-color="default"] {
    background-color: white;
  }
  &[data-color="dark"] {
    background-color:#182533;
  }
  &[data-color="light"] {
    background-color: #c7d6eb;
  }
  &[data-color="grey"] {
    background-color: #595959;
  }
}
.rightBox {
  height: 8px;
  width: 100%;
  border-radius: 2px;
  &[data-color="space"] {
    background-color: #121227 
  }
  &[data-color="default"] {
    background-color: #76899b 
  }
  &[data-color="dark"] {
    background-color: #262626 
  }
  &[data-color="light"] {
    background-color: #76899b 
  }
  &[data-color="grey"] {
    background-color: #dfe7f0 
  }
}
.text {
  height: 26px;
  text-align: start;
  font-size: 24px;
  display: flex;
  &[data-color="space"] {
    color: white;
  }
  &[data-color="default"] {
    color: white;
  }
  &[data-color="dark"] {
    color: #a6a6a6;
  }
  &[data-color="light"] {
    color: #596175;
  }
  &[data-color="grey"] {
    color: #596175;
  }
}
.topBox {
  height: 8px;
  width: 100%;
  border-radius: 2px;
  &[data-color="space"] {
    background-color: #2ebcff;
  }
  &[data-color="default"] {
    background-color: #2ebcff;
  }
  &[data-color="dark"] {
    background-color: #4683cb
  }
  &[data-color="light"] {
    background-color: #4683cb
  }
  &[data-color="grey"] {
    background-color: #54759c
  }
}
.mainBg {
  box-sizing: content-box;
  position: relative;
  display: flex;
  height: 50px;
  width: 50px;
  align-items: end;
  justify-content: center;
  border-radius: 5px;
  &[data-active="true"] {
    border: 1px solid var(--cBorder);
  }
  &[data-color="space"] {
    background-color: var(--dark-blue)
  }
  &[data-color="default"] {
    background-color: #23242b;
  }
  &[data-color="dark"] {
    background-color: #0d0d0d;
  }
  &[data-color="light"] {
    background-color: #f9f9f9;
  }
  &[data-color="grey"] {
    background-color: #fff;
  }
}
